<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" >
    <title>Cadastrar Itens</title>
</head>
<body>

    <nav>
        <article id="logo">
            <h1><a href="/">desa<strong>Pega</strong></a></h1>
        </article>
        
        <ul>
            <li><a href="/doacoes">Itens disponíveis</a></li>
            <li><a href="/login">Realizar doação</a></li>
            <li><a href="/dev">Quem somos</a></li>
    </ul>
    </nav>

    <header>
        <h1 id="cadit">Desenvolvedoras responsáveis</h1>
    </header>

    <article id="bio">
        <h2>Ana Maria </h2>
        <br>
        <img src="/img/ana-maria.jpeg" alt="ana maria">
     
        <p>
            <br>
            Sou uma pessoa que gosta de trabalhar em equipe, gosta de contribuir,aprender e agregar, tanto para minha vida quanto ado próximo. Acredito que quando compartilhamos informação é quando realmente aprendemos.

Estudante de Full Stack na BlueEdTech me vejo cada dia mais encantada e desafiada com as possibilidades, e veja todos os dias o meu sonho de virar uma programadora se concretizando.
            </p>
            <br>

            <h2>Carla Carvalho</h2>
            <br>
            <img src="/img/carlinha.jpeg" alt="carla" width="300px">
            <p><br>Uma historiadora apaixonada por tecnologia, que viu na progamação a oportunidade de participar desse mundo tão fascinante. Atualmente me encaminho para a especialização em Full Stack, onde pretendo alçar voos mais altos e realizar projetos que contribuam de forma positiva para todos. </p>

    </article>
 
    <br><br><br>

    </form>
    </div>
</body>
</html>