<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" >
    <title>Cadastrar Itens</title>
</head>
<body>

    <nav>
        <article id="logo">
            <h1><a href="/">desa<strong>Pega</strong></a></h1>
        </article>
        
        <ul>
            <li><a href="/doacoes">Itens disponíveis</a></li>
            <li><a href="/login">Realizar doação</a></li>
            <li><a href="/dev">Quem somos</a></li>
    </ul>
    </nav>

    <header>
        <h1 id="cadit">Desenvolvedoras responsáveis</h1>
    </header>

    <article id="bio">
        <h2>Ana Maria </h2>
        <br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices scelerisque erat et suscipit. In nulla diam, pellentesque quis fringilla nec, ornare vel nulla. Phasellus blandit, lectus quis vulputate dignissim, risus lorem tincidunt felis, quis sodales est leo ac est. Maecenas laoreet malesuada urna. Sed scelerisque est vitae nulla elementum tristique. Fusce fringilla arcu vitae vehicula pretium. Aenean ipsum lacus, ullamcorper ac vulputate a, volutpat sit amet mauris. Mauris felis justo, eleifend non cursus at, ultrices id quam. Mauris eget varius ipsum. Aenean fermentum libero porttitor justo accumsan, ut porta lorem feugiat. Fusce feugiat ultrices aliquam. Aliquam erat volutpat. Suspendisse eleifend, mi vitae tincidunt molestie, felis nunc pulvinar enim, sed rhoncus libero justo quis lacus. Sed eget maximus ligula. 
            </p>
            <br>

            <h2>Carla Carvalho</h2>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices scelerisque erat et suscipit. In nulla diam, pellentesque quis fringilla nec, ornare vel nulla. Phasellus blandit, lectus quis vulputate dignissim, risus lorem tincidunt felis, quis sodales est leo ac est. Maecenas laoreet malesuada urna. Sed scelerisque est vitae nulla elementum tristique. Fusce fringilla arcu vitae vehicula pretium. Aenean ipsum lacus, ullamcorper ac vulputate a, volutpat sit amet mauris. Mauris felis justo, eleifend non cursus at, ultrices id quam. Mauris eget varius ipsum. Aenean fermentum libero porttitor justo accumsan, ut porta lorem feugiat. Fusce feugiat ultrices aliquam. Aliquam erat volutpat. Suspendisse eleifend, mi vitae tincidunt molestie, felis nunc pulvinar enim, sed rhoncus libero justo quis lacus. Sed eget maximus ligula.</p>

    </article>
 
    <br><br><br>

    </form>
    </div>
</body>
</html>