<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" >
    <title>Cadastrar Itens</title>
</head>
<body>

    <nav>
        <article>
            <h1><a href="/">desa<strong>Pega</strong></a></h1>
        </article>
        
        <ul>
            <li><a href="/doacoes">Itens disponíveis</a></li>
            <li><a href="/login">Realizar doação</a></li>
            <li><a href="/dev">Quem somos</a></li>
    </ul>
    </nav>

    <header>
        <h1 id="cadit">Login de Clientes</h1>
    </header>

 
    <br><br><br>

<div>
    <h2>Cadastre-se</h2> 
    <form action="/subscription" method="POST">
        <div>
            <label for="nome">Nome completo: </label>
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>
        </div>
        
        <div>
            <label for="nome">Municipio: </label>
            <input type="text" name="nome" id="nome" placeholder="Digite seu Município" required>
        </div>    
   
        <div>
            <label for="nome">UF: </label>
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>
        </div>    

        <div>
            <label for="whatsapp">WhatsApp: </label>
            <input type="tel" name="tel" id="tel" placeholder="Digite seu WhatsApp" required>
        </div>

        <div>
            <label for="email">E-mail: </label>
            <input type="email" name="email" id="email" placeholder="Digite seu E-mail" required>
        </div>
    
        <div>
            <label for="senha">Cadastre uma senha: </label>
            <input type="text" name="text" id="text" placeholder="Cadastre uma senha" required>
        </div>

        <button type="submit">Cadastrar</button>

        <p>Já tem cadastro? <a href="login">Login</a></p>
    </form>
    </div>