<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" >
    <title>Cadastrar Doações</title>
</head>
<body>

    <nav>
        <article id="logo">
            <h1><a href="/">desa<strong>Pega</strong></a></h1>
        </article>
        
        <ul>
            <li><a href="/doacoes">Doações disponíveis</a></li>
            <li><a href="/login">Realizar doação</a></li>
            <li><a href="/dev">Quem somos</a></li>
        </ul>
    </nav>

    <header>
        <h1 id="cadit">Faça Login</h1>
    </header>

 
    <br><br><br>
<div>
    <div class="form">

    <form action="/doar" method="POST" class="formlogin">
        <div>
            
            <input type="email" name="email" id="email" placeholder="Digite seu email" required>
        </div>
    
        <div>
            
            <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
        </div>
    
        <button id="btnlogin" type="submit">Entrar</button>
    </div>

    </form>
    </div>
</section>