* {
  margin: 0;
  padding: 0;
  font-family: sans-serif
}

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
}

body{
  background-color:#b1d4e0;
}
nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;

  
}


nav article {
  display: flex;

}

nav article img {
  width: 52rem;
  height: 10rem;

}

nav article h1 a {
  color: rgb(12, 6, 6);
  text-decoration: none;
  padding: 1rem;
}

nav p {
  width: 6rem;
  padding-left: 0.5rem;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  padding: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #051d40;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.5s;
}

nav ul li a:hover {
  color: rgb(68, 227, 255);
}

header {
  margin-top: auto;
  display: flex;
  align-items: center;
  background-color: #051d40;

}

#escolha{
  font-size: large;
  color: #ccc;
}

#cadit{
  font-size: large;
  color: #ccc;
}

#nomeitem{
  font-size: large;
  color: #ccc;
}
header article h1 {
  color: #fff;
  font-size: 2rem;
  margin-left: 2px;
  margin-right: 10rem;

}

header article h2 {
  color: #fff;
  font-size: 1.8rem;
  margin-left: 2px;
  font-style: normal;
  margin-right: -4rem;
}

#chamada{
  margin-right: 10rem;
}
header img {
  width: 30%;
  margin-bottom: 5%;
}

header img {
  width: 30%;
  margin-bottom: 5%;
}


article#content{
  background-color: #b1d4e0;
  color: #051d40;
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;

}

#textocontent{
  margin-left: 3rem;
}

 
article#apresentacao{
  background-color: #051d40;;
  color: #f0f3f8;
  padding: 3rem;

}

article#bio{
  padding: 5rem;
  background-color: #fff;
  
}

section#message {
  padding: 1.5rem;
  background-color: rgb(197, 255, 214);
  color: #004d04;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#close {
  font-size: 2rem;
  cursor: pointer;
  transition: .3s;
}

span#close:hover{
  color: rgb(255, 0, 0);
  transform: scale(1.5);
}

nav article img {
  width: 2rem;
  height: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

header {
  padding-top: 4rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

header h1 {
  color: rgb(14, 10, 34);
  font-size: 1rem;
  text-shadow: 0 0 1rem #00000060;
  text-align: center;


}


a.card {
  width: 20rem;
  padding: 3rem;
  box-shadow: 0 0 1rem #00000060;
  margin: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}


a.card:hover {
  transform: scale(1.1);
}

a.card img {
  width: 15rem;
  height: 15rem;
}

a.card h2 {
  width: 100%;
  text-align: center;
  padding: 2rem;
  color: #000;
}

section#produto {
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section#doar{
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 0 20% 10% 20%;
  box-shadow: 0 0 1rem #00000060;
  border-radius: 1rem;

  
}


  header h1 {
    
    font-size: 3rem;
    text-shadow: 0 0 1rem #00000060;
    text-align: center;
    margin-right: 5rem;
    margin-left: 5%;
  
  }

  header figure {
    
  
    margin-right: 10%;
  
  }


section#doar h2 {
  color: rgb(12, 6, 6);
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  width: 100%;

}

section#doar form {
  width: 100%;
  padding: 1rem;
}

section#doar form div input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  border: 0.1rem solid #ccc;
}

section#doar form div label {
  font-size: 1.3rem;
  color: rgb(20, 6, 6);
}

section#doar form button {
  border: 1px solid rgb(68, 211, 255);
  background-color: #fff;
  color: rgb(68, 211, 255);
  padding: 1rem;
  font-size: medium;
  font-weight: 600;
  border-radius: 0.5rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.3s ease-out;
  width: 50%;
}

section#doar form button:hover {
  background-color: rgb(68, 211, 255);
  color: #fff;
  transform: scale(1.1);
}

section#message {
  padding: 1rem;
  background-color: rgb(197, 255, 214);
  color: #004d04;
  position: fixed;
  top: 5rem;
  right: 2rem;
  z-index: 100;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#close {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  padding-left: 2rem;
}

span#close:hover {
  color: rgb(255, 0, 0);
  transform: scale(1.2);
}

section#details {
  margin: 0 25% 0 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  padding: 3rem;
  padding-left: 4px;
  box-shadow: 0 0 1rem #00000060;
  max-width: 40%;
}

#details img {
  width: 20rem; 
}


section#details div#infos p {
  font-size: 1rem;
  padding-bottom: 1rem;

  flex-wrap: wrap;
}

section#details div#infos div#info-datail {
  background-color: #ccc;
  display: flex;
  
  align-items: center;
  padding: 1rem;
  padding-left: 1rem;
  width: 100%;
  border-radius: 1rem;
}


section#details div#infos h2 {
  background-color: rgb(68, 211, 255);
  padding: 1rem;
  color: #fff;
  border-radius: 1rem;
  width: 30%;
  text-align: center;
  margin-top: 1rem;
}


@media screen and (max-width: 1000px) {
  
  section#doar {
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 0 5% 5% 5%;
  box-shadow: 0 0 1rem #00000060;
  border-radius: 1rem;
  background-color: #fff;
  width: 60%;

  }

  
section#details {
  margin: 0 10% 10% 20%;
  justify-content: center;
  flex-wrap: wrap;
  background-color:#FFF;
  border-radius: 2rem;
  padding: 0% 40% 0% 40%;
  box-shadow: 0 0 1rem #00000060;
  margin-left: 15%;
}
}

